<h4 class="media-heading">{{ foro.nombre }}</h4>

{% if foro.creador.id == usuario.id %}
	<a class="btn btn-success miembros" role="button" href="{{ path('foro_grupo_edit', { 'id': foro.id }) }}" aria-expanded="false" aria-controls="collapseResponse"> Agregar Miembros</a>
{% endif %}

<ul class="list-inline list-unstyled">
	<li>
		<span><i class="glyphicon glyphicon-calendar"></i> {{ foro.updatedAt|localizeddate('full', 'none', 'es') }}</span>
	</li>
	<li>|</li>
		<span><i class="glyphicon glyphicon-tags"></i> {{ foro.entradas|length }} Entrada/s</span>
</ul>
{% include 'MWSimpleForoBundle:Default:entradas.html.twig' with { 'entradas': entradas } %}
{% if is_granted('ROLE_ADMIN') %}
      	<button type="button" class="btn btn-info" data-toggle="modal" data-target="#entradaModal">
		  Nueva Entrada
		</button>
		<div class="modal fade" id="entradaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
			<div class="modal-dialog modal-lg">
		    	<div class="modal-content">
		      		<div class="modal-header bg-success">
		        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
		        		<h4 class="modal-title">Agregar Entrada</h4>
		      		</div>
		      		<div class="modal-body">
		      			<div id="wrapper">
		      				<div class="row">
			                    <div class="col-md-12 col-sm-12">
			                        {% for type, flashMessages in app.session.flashbag.all() %}
			                            {% for flashMessage in flashMessages %}
			                                <div class="alert alert-{{ type }}">
			                                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
			                                </div>
			                            {% endfor %}
			                        {% endfor %}
			                    </div>
			                </div>
			        		{{ render(controller( 'MWSimpleForoBundle:Entrada:new', { 'foro_id': foro.id } )) }}
			        	</div>
		      		</div>
				    <div class="modal-footer">
				    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
				    </div>
		    	</div>
		  	</div>
		</div>
{% endif %}	

{% block javascripts -%}
	<script type="text/javascript">
        $(document).ready(function () {       	
        	$(".newEntrada").click(function (e) {
        		// after click submit of new entrada, close modal and loading...
        		$('#entradaModal').modal('hide');
        		bloquearPantalla();
            })
        });
        function bloquearPantalla() {
            $.blockUI({
                message: '<h1><img src="{{ asset('bundles/mwsimpleforo/gif/loading.gif') }}" /></h1> <p>Aguarde un momento...</p>',
                onOverlayClick: $.unblockUI
            });
        }
    </script>
{% endblock %}

