	{# TODOS LOS GRUPOS FORO #}
	<h4 class="media-heading">{{ foro.nombre }}</h4>
	<ul class="list-inline list-unstyled">
		<li>
			<span><i class="glyphicon glyphicon-calendar"></i> 20 de Abril del 2016</span>
		</li>
		<li>|</li>
			<span><i class="glyphicon glyphicon-tags"></i> {{ foro.entradas|length }} Entrada/s</span>
	    <li>|</li>
	    <li>
	       	<span class="glyphicon glyphicon-star"></span>
	        <span class="glyphicon glyphicon-star"></span>
	        <span class="glyphicon glyphicon-star"></span>
	        <span class="glyphicon glyphicon-star"></span>
	        <span class="glyphicon glyphicon-star-empty"></span>
	    </li>
	    <li>|</li>
	    <li>
	    <!-- Use Font Awesome http://fortawesome.github.io/Font-Awesome/ -->
	      <span><i class="fa fa-facebook-square"></i></span>
	      <span><i class="fa fa-twitter-square"></i></span>
	      <span><i class="fa fa-google-plus-square"></i></span>
	    </li>
	</ul>

	{% include 'MWSimpleForoBundle:Default:entradas.html.twig' with { 'entradas': entradas } %}

	
	{% if is_granted('ROLE_ADMIN') %}
			{# PANEL PUBLICA NUEVA RESPUESTA #}
	      	<!-- Button trigger modal -->
			<button type="button" class="btn btn-info" data-toggle="modal" data-target="#entradaModal">
			  Nueva Entrada
			</button>

			<div class="modal fade" id="entradaModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
				<div class="modal-dialog modal-lg">
			    	<div class="modal-content">
			      		<div class="modal-header bg-success">
			        		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			        		<h4 class="modal-title">Agregar Entrada</h4>
			      		</div>
			      		<div class="modal-body">
			      			<div id="wrapper">
			      				
			      				<div class="row">
				                    <div class="col-md-12 col-sm-12">
				                        {% for type, flashMessages in app.session.flashbag.all() %}
				                            {% for flashMessage in flashMessages %}
				                                <div class="alert alert-{{ type }}">
				                                    {{ flashMessage|trans({}, 'MWSimpleAdminCrudBundle') }}
				                                </div>
				                            {% endfor %}
				                        {% endfor %}
				                    </div>
				                </div>

				        		{{ render(controller( 'MWSimpleForoBundle:Entrada:new', { 'foro_id': foro.id } )) }}

				        	</div>
			      		</div>
					    <div class="modal-footer">
					    	<button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
					    </div>
			    	</div><!-- /.modal-content -->
			  	</div><!-- /.modal-dialog -->
			</div><!-- /.modal -->

	{% endif %}	

{% block javascripts -%}
	<script type="text/javascript">
        $(document).ready(function () {       	
        	$(".newEntrada").click(function (e) {
        		// after click submit of new entrada, close modal and loading...
        		$('#entradaModal').modal('hide');
        		bloquearPantalla();
            })
        });

        function bloquearPantalla() {
            $.blockUI({
                message: '<h1><img src="{{ asset('bundles/mwsimpleforo/gif/loading.gif') }}" /></h1> <p>Aguarde un momento...</p>',
                onOverlayClick: $.unblockUI
            });
        }
    </script>
{% endblock %}

