<br>

<div class="btn-toolbar" aria-label="Toolbar with button groups" role="toolbar">
	<div class="btn-group" aria-label="First group" role="group">
		{% for foro in foros %}
			<button class="btn btn-default getForo" type="button" data-id="{{ foro.id }}">{{ foro.nombre }}</button>
		{% endfor %}	
        {% if is_granted('ROLE_ADMIN') %}
            <a class="btn btn-success newForo" role="button" href="{{ path('foro_grupo_new') }}" aria-expanded="false" aria-controls="collapseResponse"> Nuevo Foro</a>
        {% endif %}
	</div>
</div>
</br>

<div id="foro">
    {% if foro is not null %}
        {% include 'MWSimpleForoBundle:Default:foro.html.twig' with { 'foro': foro } %}
    {% endif %}  
</div>

   


{% block javascripts -%}
    <script src="{{ asset('bundles/mwsimpleforo/js/jquery.blockUI.min.js') }}" type="text/javascript"></script>
    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
    <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            
            $(".getForo").click(function (e) {
                bloquearPantalla();
                var foroId = $(this).data('id');
                var url = Routing.generate('traer_foro', { foro_id: foroId });
                $.ajax({
                    type: "GET",
                    url: url,
                    success: function(response) {
                       $('#foro').html(response);
                       $.unblockUI();
                    }
                });

            })

            $(".newForo").click(function (e) {
                bloquearPantalla();
            })

            function bloquearPantalla() {
                $.blockUI({
                    message: '<h1><img src="{{ asset('bundles/mwsimpleforo/gif/loading.gif') }}" /></h1> <p>Aguarde un momento...</p>',
                    onOverlayClick: $.unblockUI
                });
            }
        });
    </script>
{% endblock %}


