{# LISTA TODAS LAS RESPUESTAS DE LA ENTRADA #}
{% for respuesta in respuestas %}
	<article class="respuesta {{ cycle(['odd', 'even'], loop.index0) }}" id="respuesta-{{ respuesta.id }}">
		<div class="row">
		  	<div class="col-md-12 col-sm-12">
				<div class="well" style="background-color: #f5f5f5">
                    {% if app.user == respuesta.miembro %}
    					<div align="right" style="margin-bottom: -25px; margin-top: -15px; margin-right: -15px;">
    	    				<a class="deleteRespuesta" role="button" style="color: #5F5F5F" data-id="{{ respuesta.id }}"><i class="glyphicon glyphicon-remove btn-xs"></i></a>
    	    			</div>
                    {% endif %}    
					<div class="media">
				      	<div class="media-body">
				    		<h4 class="media-heading" style="text-align: left;">
				    			{{ respuesta.miembro }}
                                <span style="float:right; margin-right: 10px; margin-top: 4px; font-size: small;">
                                    {{ respuesta.updatedAt|localizeddate('none', 'short', 'es') }} ({{ respuesta.updatedAt|ago }})
                                </span>    
				    		</h4>
							{{ respuesta.contenido|raw }}
				       	</div>
				    </div>
				</div>
			</div>
		</div>
	</article>
{% else %}
	<p>Actualmente no existen Respuestas para esta Entrada, Sea el primero en debatir!...</p>
{% endfor %}

{% block javascripts -%}
    <script type="text/javascript">
        $(document).ready(function () {
            
        });
        $(".deleteRespuesta").confirmation({
            title: 'va a eliminar respuesta?',
            btnOkLabel: 'Si',
            btnCancelLabel: 'No',
            popout: true,
            placement: 'left'
        })
        $(".deleteRespuesta").on('confirmed.bs.confirmation', function (e) {
            bloquearPantalla();
            var respuestaId = $(this).data('id');
            var url = Routing.generate('foro_respuesta_delete', { respuesta_id: respuestaId });
            $.ajax({
                type: "DELETE",
                url: url,
                success: function(response) {
                    window.location.reload();
                    $.unblockUI();
                }
            });
        })
        function bloquearPantalla() {
            $.blockUI({
                message: '<h1><img src="{{ asset('bundles/mwsimpleforo/gif/loading.gif') }}" /></h1> <p>Aguarde un momento...</p>',
                onOverlayClick: $.unblockUI
            });
        }
    </script>
{% endblock %}