{% extends 'MWSimpleAdminCrudBundle:Default:show.html.twig' %}

{% block buttonsbelow %}
    <div class="col-lg-9 col-md-9 col-sm-9">
    	{% if is_granted('ROLE_ADMIN') %}
	        <div class="float-left col-lg-3 col-md-3 col-sm-3">
	            <a class="btn btn-info col-lg-11" href="{{ path(config.index) }}">
	                {{ 'views.recordactions.backtothelist'|trans({}, 'MWSimpleAdminCrudBundle') }}
	            </a>
	        </div>
	        <div class="float-left col-lg-3 col-md-3 col-sm-3">
	            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
	                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
	            </a>
	        </div>
	        <div class="float-left col-lg-3 col-md-3 col-sm-3">{{ form(delete_form) }}</div>
		{% else %}
			<div class="float-left col-lg-3 col-md-3 col-sm-3">
	            <a class="btn btn-primary col-lg-11" href="{{ path(config.edit, { 'id': entity.id }) }}">
	                {{ 'views.recordactions.edit'|trans({'%entity%': config.entityName}, 'MWSimpleAdminCrudBundle') }}
	            </a>
	        </div>
	    {% endif %}
    </div>
{% endblock %}